venv/
__pycache__/
*.pyc
.env
vectorstore/
# Ignore database files
*.sqlite3
*.db

# Ignore vector DB
backend/database/

# Ignore embeddings
*.index

# Ignore env
venv/
.env

# Database files
*.sqlite3
*.db

# Chroma DB
chroma/
database/